[production]
chrome >= 111
edge >= 111
firefox >= 115
safari >= 16.4
ios_saf >= 16.4
not dead
not op_mini all

[development]
last 1 chrome version
last 1 edge version
last 1 firefox version
last 1 safari version
